/* WIDGET: SECTION TITLE
-------------------------------------------- */

.vlt-section-title {

	&__subtitle {
		margin-bottom: px2rem(25px);
	}

	h1.vlt-section-title__heading,
	h2.vlt-section-title__heading,
	h3.vlt-section-title__heading,
	h4.vlt-section-title__heading,
	h5.vlt-section-title__heading,
	h6.vlt-section-title__heading {
		margin: 0;

		img {
			display: inline-block;
			height: 1.4em;
			margin-left: 0.5em;
			vertical-align: middle;
			border: 2px solid var(--vlt-color-accent);
			border-radius: calc(var(--vlt-border-radius) * 10);
		}

	}

	&__description {
		margin-top: px2rem(20px);
		margin-bottom: 0;
	}

}