/* PARTIAL: BADGE
-------------------------------------------- */

.vlt-badge {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: px2rem(8px) px2rem(14px);
	border: 1.5px solid currentColor;
	border-radius: calc(var(--vlt-border-radius) * 10);
	gap: px2rem(5px);
	@include vlt_display_2;

	svg {
		font-size: map-get($scales, 's9');
	}

}