/* POST: STYLE 1
-------------------------------------------- */

.vlt-post--style-1 {

	.vlt-post-media + .vlt-post-content,
	.vp-portfolio__item-img-wrap + .vlt-post-content {
		padding-top: px2rem(20px);
	}

	.vlt-post-media {

		.vlt-post-category {
			position: absolute;
			top: px2rem(16px);
			left: px2rem(16px);
			z-index: 2;
		}

	}

	.vlt-post-category {
		margin-bottom: px2rem(16px);
	}

	.vlt-post-header {
		margin-bottom: px2rem(16px);
	}

	.vlt-post-footer {
		margin-top: px2rem(18px);
	}

}