/* WORDPRESS: PASSWORD FORM
-------------------------------------------- */

.vlt-post-password-form {

	.vlt-section-title {
		margin-bottom: px2rem(40px);
	}

	.vlt-form-group {
		display: flex;
		max-width: px2rem(400px);

		.vlt-btn {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
		}

	}

}

.vlt-content-protected {
	display: flex;
	align-items: center;
	min-height: 100vh;
	padding: px2rem(120px) 0;

	@include media-breakpoint-up(xl) {

		.vlt-is--header-bar & {
			min-height: calc(100vh - calc(var(--vlt-navbar-height) * 2));
		}

	}

}