.vlt-custom--4124 {
	top: 0;
	right: 0;
	bottom: 0;
	width: 45vw;
	height: 100%;
	background-position: top left;
	background-size: cover;
}

@media (max-width: 991px) {
	.vlt-custom--4124 {
		right: 0;
		width: 40vw;
	}
}

@media (max-width: 767px) {
	.vlt-custom--4124 {
		right: -50vw;
		width: 100vw;
	}
}

.vlt-custom--1451 {
	--width: 40vw;
	top: calc(50vh - calc(var(--width) / 2));
	right: 5vw;
	width: var(--width) !important;
	height: var(--width) !important;
}