/* LAYOUT: FOOTER
-------------------------------------------- */

.vlt-footer {
	position: relative;
	background-color: var(--vlt-color-darker-3);

	&--fixed {
		z-index: z("footer-fixed");
	}

}

.vlt-is--footer-fixed {

	.vlt-site-wrapper {
		box-shadow: 0 px2rem(15px) px2rem(30px) var(--vlt-color-black-0p5);
		z-index: z("footer-fixed-content");
	}

}